body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.navbar{
    background-color: #0f0c22;
    /* color: #d2d1f4; */
}
.nav-link:focus, .nav-link:hover, .nav-link{
    color: #c88cf7;
    background-color: #0f0c22;
    
}

header{
    background-color: #0c0438;
    height: 30em;
}
.header-presentacion{
    max-height: 25em;
}
.ico{
    width: 30px;
}
a:link{
    color: #c88cf7 !important;
}
a:visited{
    color: #c88cf7 !important;
}
a:hover{
    color: #c88cf7 !important;
    text-shadow: #0f0c22 1px 1px 1px;
}
a:active{
    color: #c88cf7 !important;
}
section{
    display: grid;
    align-items: center;
}
.card-presentacion{
    max-height: 25em;
}
.row-presentacion{
    max-height: 25em;
}
.col-presentacion{
    max-height: 25em;
}
.card-body-presentacion
{
    background-color: #883ad9;
    color: #c88cf7;
    height: 100%;
}
.educacion{
    height: 40em;
    border: 1em;
    background-color: #883ad9;
}
.experiencia{
    height: 40em;
background-color: #c88cf7;
}
.titulo-experiencia{
    background: linear-gradient(to right, #c88cf7 67%, #883ad9 100%);
}
.titulo-educacion{
    background: linear-gradient(to right, #0c0438 0%, #883ad9 33%);
    color: #c88cf7;
}
footer{
    min-height: 100%;
    background-color: #0c0438;
    color: #c88cf7;
    
}

/* grid historia */

.logo-historia:hover{
    filter: sepia(60%);
    box-shadow: 0px 0px 5px 5px #883ad9
}

.parent {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    color: #0c0438;
}
.parent>h3{
    text-shadow: #d2d1f4 10px 0 10px;
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 2;

}

.div3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.div5 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #d2d1f4;
    border-radius: 50%;
    display: inline-block;
  }

/* portafolio */

.parent_portafolio {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 0px;
    row-gap: 5px ;
}
.proyectos{
    background-color: #d2d1f4;
    color: #0c0438;
}
.celda_portafolio{
    margin: 1em;
}
.img_portafolio{
    max-height: 28em;
    transition: transform .4s; /* Animation */
}
.img_portafolio:hover{
    transform: scale(1.5);
}
.titulo-proyectos{
    background: linear-gradient(to right, #c88cf7 67%, #883ad9 100%);
}
/* js */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }